@import '../../../../styles/variables.scss';

.caseStudy__gallery {
  position: relative;

  &__imageContainer {
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
  }

  &__indicators {
    display: flex;

    &__inner {
      position: relative;
      display: inline-flex;
      margin: 25px auto 0;
    }
  }

  &--noZoom {
    .caseStudy__gallery__img {
      transform: scale(1);
    }
  }

  &__indicator {
    $indicator-width: 40px;
    $indicator-margin: 5px;

    width: $indicator-width + ($indicator-margin * 2);
    height: 3px;
    display: inline-block;
    transition: $anim-x-fast transform $ease-standard;
    cursor: pointer;
    margin: 0 auto;

    &::after {
      content: '';
      width: $indicator-width;
      background: $color-grey-lt;
      height: 3px;
      margin: 0 auto;
      display: block;
    }

    &--current {
      z-index: 100;
      left: 0;
      top: 0;
      position: absolute;
      opacity: .75;
      transform: translate3d(200%, 0, 0);

      &::after {
        content: '';
        background: $black;
      }
    }
  }

  &__img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1.035);
    width: 100%;
    opacity: 0;
    transition: $anim-med opacity $ease-standard, $anim-med transform $ease-standard;

    &--current {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &__item {
      height: 100%;
      position: absolute;

      &--prev {
        left: 0;
        width: 25%;
        cursor: w-resize;
      }

      &--next {
        left: 25%;
        width: 75%;
        cursor: e-resize;
      }
    }
  }
}
