@import 'styles/breakpoints.scss';

.about__clients {
  &__grid {
    display: flex;
    flex-wrap: wrap;

    &--item {
      align-self: center;
      width: 100%;
      box-sizing: border-box;

      @include breakpoint(sm) {
        width: 50%;
      }

      @include breakpoint(md) {
        width: 33.33%;
      }

      img {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}
