@import '../../../../styles/breakpoints.scss';

.caseStudy__colBlock {
  z-index: 20;

  &__col {
    flex-basis: 50%;

    img {
      width: 100%;
    }

    &--media {
      max-width: 80em;
      margin: 0 auto;
      transition: transform: 10ms linear;
    }

    &--text > div {
      max-width: 25em;
      margin: 0 auto;
    }

    &__video {
      width: 100%;
    }
  }

  &--smallImage {
    & > .caseStudy__colBlock__col--media {
      flex-basis: 33.3%;
    }
  }


  @include breakpoint(lg) {
    &--largeImage {
      & > .caseStudy__colBlock__col--media {
        flex-basis: 66.6%;
      }

      & > .caseStudy__colBlock__col--text {
        flex-basis: 33.3%;
      }
    }
  }
}
