.caseStudy__colBlock {
  /* margin: calc(-180px - 30px) auto!important; */
  /* position:relative; */
  z-index: 20;
}

.caseStudy__colBlock__col{
  flex-basis: 50%;
}

.caseStudy__colBlock__col--text > div{
  max-width: 25em;
  margin: 0 auto;
}

.caseStudy__colBlock__col--media {
  max-width: 80em;
  margin: 0 auto;
}

@media only screen and (min-width: 1080px) {
  .caseStudy__colBlock--largeImage >
  .caseStudy__colBlock__col--media {
    flex-basis: 66.6%;
  }

  .caseStudy__colBlock--largeImage>
  .caseStudy__colBlock__col--text {
    flex-basis: 33.3%;
  }
}


.caseStudy__colBlock__col > img{
  width: 100%
}
