@import '../../styles/variables.scss';

// @-webkit-keyframes slideUp {
//   from {
//     transform: translate3d(0, 0, 0);
//   }
//
//   to {
//     transform: translate3d(0, -100vh, 0);
//     // transform: translate3d(0, calc(-100vh + 400px), 0);
//   }
// }

@-webkit-keyframes slideUpHome {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, calc(-100vh + 400px), 0);
  }
}

.casestudy {
//
//   &.-isHome {
//     // height: 400px;
//     // overflow: hidden;
//
//     // &.-isAnimating {
//     //   animation: slideUpHome 600ms $ease-standard;
//     //   height: 100vh;
//     // }
//
//     .casestudy__header__item {
//       opacity: 0;
//
//       &--title {
//         opacity: 1;
//       }
//     }
//   }


  .casestudy__header__item {
    transition: opacity 600ms $ease-standard;
  }

  &.-isAnimating {
    &:not(.casestudy--next):not(.-isHome) {
      animation: slideUp 600ms $ease-standard;
    }

    &.casestudy--next {
      .casestudy__header__item--title {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &--next {
    // z-index: 10;
    // pointer-events: none;
    // position: fixed;

    .casestudy__header__item {
      opacity: 0;


      &--title {
        transition: transform 600ms $ease-standard;
        transform: translateY(calc(100vh - 400px));
        opacity: 1;
      }
    }
  }

  &__block {
    margin-top: $margin-1;
    position: relative;
    z-index: 10;

    &--columns {
      position: relative;
      z-index: 20;
    }

    &.-active {
      opacity: 1;
      transform: translateY(0);
    }
  }

}
