.casestudy {
  background: #f9f9f9
}

.casestudy__block {
  margin-top: 160px;
}

.casestudy__body {
  position: relative;
  z-index: 30;
}

.grid {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 0 4%;
  max-width: 1600px;
}

.grid__inner {
  margin: 0 4%
}

@media only screen and (max-width: 768px) {
  .grid {
    display: block;
  }
}
