@import '../../styles/variables.scss';

// @-webkit-keyframes slideUp {
//   from {
//     transform: translate3d(0, 0, 0);
//   }
//
//   to {
//     transform: translate3d(0, -100vh, 0);
//     // transform: translate3d(0, calc(-100vh + 400px), 0);
//   }
// }

@-webkit-keyframes slideUpHome {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, calc(-100vh + 400px), 0);
  }
}

.casestudy {

  &__block {
    margin-top: $margin-1;
    position: relative;
    z-index: 10;

    &--columns {
      position: relative;
      z-index: 20;
    }

    &.-active {
      opacity: 1;
      transform: translateY(0);
    }
  }

}
