.icon--grid__item:nth-child(3) {
  transform: translate3d(12px, -4px, 0);
}

.icon--grid__item:nth-child(4) {
  transform: translate3d(12px, 4px, 0)
}


/* enabled */
.-enabled .icon--grid__item {
  background: #000;
}

.-enabled .icon--grid__item:nth-child(3) {
  transform: translateX(5px) rotate(-45deg) scale3d(2.25, 1, 1);
}
.-enabled .icon--grid__item:nth-child(2) {
  transform: translateX(5px) rotate(45deg) scale3d(2.25, 1, 1);
}

.-enabled .icon--grid__item:nth-child(1),
.-enabled .icon--grid__item:nth-child(4) {
  opacity: 0;
}
