.casestudy__cover {
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
}

.casestudy__fill {
  background-color: #161616;
  height: calc(100vh + 30vw);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.casestudy__header {
  left: 0;
  padding-top: 160px;
  position: absolute;
  top: 0;
  z-index: 40;
}

.casestudy__header__item {
  margin-bottom: 3.5vh;
}
