@import '../../../styles/variables.scss';
// sass-lint:disable indentation

.videoNode {
  &__muteButtonSolo {
    position: absolute;
    left: 22px;
    bottom: 5px;
    width: 22px;
    opacity: .5;
  }

  &__muteToggle {
    &__icon {
      &__speaker {
        fill: $white;
        stroke: none;
      }

      &__line {
        stroke: $white;
        stroke-width: 1.5;
        fill: none;
        transition:
          transform $ease-standard $anim-fast,
          opacity $ease-standard $anim-fast;

        &--muted {
          transform: translateX(-50%);
          opacity: 0;
        }

        &--unmuted {
          transform: translateX(0%);
          opacity: 1;
        }
      }
    }
  }

  .videoNode__iconWrap {
    &:not(.-muted) {
      transform: translateY(30%);
      opacity: 0;
      transition:
        transform $ease-standard $anim-x-fast,
        opacity $ease-standard $anim-x-fast;
    }
  }

  &:hover {
    .videoNode__iconWrap {
      &:not(.-muted) {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}

.-muted {
  .videoNode__muteToggle__icon__line {

    &--muted {
      transform: translateX(0);
      opacity: 1;
    }

    &--unmuted {
      transform: translateX(-50%);
      opacity: 0;
    }
  }
}
