@import '../../../styles/variables.scss';


.videoNode {
  &__muteButtonSolo {
    position: absolute;
    left: 22px;
    bottom: 5px;
    width: 22px;
    opacity: .5;
  }

  &__muteToggle {
    &__icon {
      &__speaker {
        fill: $white;
        stroke: none;
      }

      &__line {
        stroke: $white;
        stroke-width: 1.5;
        fill: none;
 
        &--muted {
          transform: translateX(-50%);
          opacity: 0;
        }

        &--unmuted {
          transform: translateX(0%);
          opacity: 1;
        }
      }
    }
  }
}

.-muted {
  .videoNode__muteToggle__icon__line {

    &--muted {
      transform: translateX(0);
      opacity: 1;
    }

    &--unmuted {
      transform: translateX(-50%);
      opacity: 0;
    }
  }
}
