@import '../../styles/variables.scss';

$cursor-size: 100px;
$text-circle-size: 60px;
$spin-speed: 9600ms;

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.cursorDot {
  height: $cursor-size;
  width: $cursor-size;
  left: $cursor-size / -2;
  top: $cursor-size / -2;
  background: $color-primary;
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  z-index: 1003;
  transform: scale(0);
  transition: transform $anim-fast $ease-decel;
  display: flex;
  justify-content: center;
  align-items: center;

  &__enabled {
    transform: scale(1);
  }

  &__overlay {
    fill: $white;
    width: $text-circle-size;
    height: $text-circle-size;
    animation: spin $spin-speed linear infinite;
  }

}
