@import '../../../../styles/breakpoints.scss';

.about__columns {
  flex-wrap: wrap;

  &__col {
    padding: 0 2%;
    flex-wrap: wrap;
    box-sizing: border-box;

    img {
      width: 100%;
    }

    li {
      line-height: 1.35;
      margin-bottom: .5em;
    }
  }

  &.-col-4 {
    .about__columns__col {
      flex-basis: 50%;
      flex-wrap: nowrap;

      p {
        margin-left: 0;
        margin-right: 0;
      }

      @include breakpoint(sm) {
        flex-basis: 25%;
      }
    }
  }

  &.-col-3 {
    .about__columns__col {
      @include breakpoint(sm) {
        flex-basis: 33.33%;
      }
    }
  }

  &.-col-2 {
    .about__columns__col {
      @include breakpoint(sm) {
        flex-basis: 50%;
      }
    }
  }

  &--logos {
    .about__columns__col {
      img {
        padding: 20%;
        box-sizing: border-box;
      }
    }
  }

  &.-spacebelow {
    margin-bottom: 50vh !important;
  }

  &.-spaceabove {
    margin-top: 50vh !important;
  }

}
