@import '../../styles/variables.scss';

.-waypointAnim {
  &--fadeIn {
    opacity: 0;
    transform: translateZ(0);
    transition: 600ms opacity $ease-decel 100ms;

    &.-enabled {
      opacity: 1;
    }
  }
}
