.grid {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 0 4%;
  max-width: 1600px;
  box-sizing: border-box;
}

.grid.-left {
  justify-content: flex-start;
}

.grid.-top {
  align-items: flex-start;
}


.grid__inner {
  margin: 0 4%
}

.-wrap-nav {
  padding-left: calc(1.5em + 3vw);
  padding-right: calc(1.5em + 3vw);
}
