.-grid {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.-wrap {
  max-width: 1600px;
  width: 80%;
  margin: 0px auto;
}

.grid.-left {
  justify-content: flex-start;
}

.grid.-top {
  align-items: flex-start;
}

.-padding {
  padding: 0 4%;
}

.-wrap-nav {
  padding-left: calc(1.5em + 3vw);
  padding-right: calc(1.5em + 3vw);
}

.-centered {
  margin: 0px auto;
}


/* 
.-grid {
  border: 2px dashed blue;
}

.-padding {
  border: 2px dashed orange;
  box-sizing: border-box;
}
.-wrap {
  border: 2px dashed red;
}
.-wrap-nav {
  border: 2px dashed green;
}

.-width-100 {
  width: 100%
} */
