$variable-spacing: calc(1.5em + 3vw);
$variable-spacing-lg: calc(1.5em + 5vw);

$variable-spacing-vh: calc(1.5em + 6vw);
$variable-spacing-vh-lg: calc(1.5em + 8vw);

$color-primary: #ecaa9a;
$color-secondary: #ffa500;
$color-grey: #797979;

$case-study-bg: #f9f9f9;

$white: #fff;
$black: #000;

/******************************************************************************
 * Animations
*******************************************************************************/

$ease-standard: cubic-bezier(.4, 0, .2, 1);
$ease-decel: cubic-bezier(0, 0, 2, 1);
$ease-accel: cubic-bezier(.4, 0, 1, 1);

$ease-views: cubic-bezier(0, 0, .2, 1);
$ease-views-rev: cubic-bezier(8, 0, 1, 1);

$long-duration: 600ms;
$base-duration: 400ms;
$midi-duration: 300ms;
$fast-duration: 200ms;

$anim-x-slow: 1800ms;
$anim-slow: 1400ms;
$anim-fast: 400ms;
$anim-x-fast: 200ms
