@import '../../styles/variables.scss';

.videoNode {
  position: relative;
  cursor: pointer;

  video {
    width: 100%;
    position: relative;
    z-index: -10;
    display: block;

    &[poster] {
      object-fit: cover;
    }
  }

  &__iconWrap {
    cursor: pointer;
    outline: none;
    user-select: none;
    width: 1em;
    z-index: 30;
  }
}
