
@font-face {
  font-family: 'Calibre';
  src: url('https://prismic-io.s3.amazonaws.com/thisstaging%2F1af5ff39-503a-4dd7-927b-0bf77ca4e075_calibreweb-regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://prismic-io.s3.amazonaws.com/thisstaging%2F75524f87-37a9-489b-94e1-9a2cf1e5d910_calibreweb-light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Domaine';
  src: url('https://prismic-io.s3.amazonaws.com/thisstaging%2F12855606-5254-41ca-8832-a6ad659c0643_domainedisplayweb-black.woff') format('woff');
  font-weight: 900;
}
