@import '../../../../styles/variables.scss';

.website {
  display: flex;

  &__inner {
    position: relative;
    z-index: 10;
  }

  img {
    width: 100%;
  }

  .-backgroundEnabled {
    margin: calc(80px + 5vw) auto;
  }
}
