/* View changes */




/* Default */

.view:not(.-is-active){
  pointer-events: none;
  overflow: hidden;
}

.work {
  background-color: #fff;
  transform: translate3d(-50%, 0, 0);
}

.about {
  background-color: #000;
  transform: translate3d(50%, 0, 0);
}

/* Active - Work */

.-view-is-work > .work{
  transform: translate3d(0, 0, 0);
}

.-view-is-work > .about{
  transform: translate3d(100%, 0, 0);
}

.-view-is-work > .root{
  transform: translate3d(100%, 0, 0);
}

/* Active - About */

.-view-is-about > .work{
  transform: translate3d(-100%, 0, 0);
}

.-view-is-about > .about{
  transform: translate3d(0, 0, 0);
}

.-view-is-about > .root{
  transform: translate3d(-100%, 0, 0);
}
