.casestudy__splash {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;

  &__bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__auxiliary {
    position: absolute;
    width: auto;
    max-width: 100%;
    z-index: 10;
  }

  .-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
