@import '../../../styles/variables.scss';

.videoNode {
  &__controls {
    opacity: 0;
    transform: translateY(30%);
    position: absolute;
    bottom: 0;
    left: 0;
    color: $white;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    flex-wrap: wrap;
    transition: .25s transform ease, .25s opacity ease;

    &__controlWrap {
      display: flex;
      line-height: 1em;
      padding: 0 1em;
    }

    &__control {
      cursor: pointer;
      outline: none;
      padding: 1.5em .75em;

      &--duration {
        flex: 1;
        font-size: 13px;
        letter-spacing: .2em;
        display: flex;
        align-items: center;

        .-spacer {
          margin: 0 .75em;
          border-left: 1px solid $white;
          height: 1em;
          opacity: .5;
        }
      }
    }

    &--progress {
      padding: 0;
      width: 100%;
      height: 1.5px;
    }

    &--progress__fill {
      height: inherit;
      background: $color-secondary;
    }
  }
}

.videoNode:hover .videoNode__controls {
  opacity: 1;
  transform: translateX(0);
}
