.homepage {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 40;
  overflow: hidden;


  &__inner {
    height: calc(100vh - 4em);
    width: calc(100vw - 4em);
    margin: 0px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    &__video,
    .homepage__inner__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}
