@import '../../styles/variables.scss';

.nav {
  background-color: transparent;
  left: 0;
  padding-top: $variable-spacing;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1004;
  box-sizing: border-box;
  pointer-events: none;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &.-view-is-about {
    .icon--grid {
      opacity: 0; // hide 'work' link when view is 'about'
    }
  }

  &.-view-is-work {
    .icon--about {
      opacity: 0; // hide 'about' link when view is 'work'
    }
  }

  .icon {
    pointer-events: all;
    padding-top: 5px;
    height: 8px;
    width: 20px;
    cursor: pointer;
    transition: opacity 300ms $ease-accel;


    &__item {
      position: absolute;
      width: 8px;
      height: 1.5px;
      background: $white;
      transition:
        transform 300ms $ease-accel, // sass-lint:disable-line indentation
        opacity 300ms $ease-accel, // sass-lint:disable-line indentation
        background-color 300ms $ease-accel; // sass-lint:disable-line indentation

      // Applies to About & Grid

      &:nth-child(1) {
        transform: translate3d(0, -4px, 0);
      }

      &:nth-child(2) {
        transform: translate3d(0, 4px, 0);
      }

      // Applies to only Grid

      &:nth-child(3) {
        transform: translate3d(12px, -4px, 0);
      }

      &:nth-child(4) {
        transform: translate3d(12px, 4px, 0);
      }
    }

    &--about__item {
      width: 18px;
    }
  }

  &--dark {
    .icon__item {
      background: $black;
    }
  }
}

.-enabled {
  .icon {
    &--about__item {
      background: $white;

      &:nth-child(1) {
        transform: translateX(2px) rotate(-45deg);
      }

      &:nth-child(2) {
        transform: translateX(2px) rotate(45deg);
      }
    }

    &--grid__item {
      background: $black;

      &:nth-child(2) {
        transform: translateX(5px) rotate(45deg) scale3d(2.25, 1, 1);
      }

      &:nth-child(3) {
        transform: translateX(5px) rotate(-45deg) scale3d(2.25, 1, 1);
      }

      &:nth-child(1),
      &:nth-child(4) {
        opacity: 0;
      }
    }
  }
}
