.nav {
  background-color: transparent;
  left: 0;
  padding-top: 4vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1004;
  color: red;
}

.nav__inner {
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  justify-content: space-between;
}

.nav__inner a {
  color: orange;
  text-decoration: none;
  letter-spacing: .31em;
  font-size:.61em
}
