@import '../../styles/variables.scss';

.nav {
  background-color: transparent;
  left: 0;
  padding-top: $variable-spacing;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1004;
  box-sizing: border-box;
}

.nav__inner {
  display: flex;
  justify-content: space-between;
}
