@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.work__inner {
  display: flex;
  flex-wrap: wrap;
  margin: $variable-spacing auto;
  padding-top: $variable-spacing;

  @include breakpoint(sm) {
    padding-top: $variable-spacing;
    padding-left: 8%;
    padding-right: 8%;
  }
  align-items: center;
}

.work__link {
  box-sizing: border-box;
  transition: transform 600ms cubic-bezier(0, 0, .2, 1);
  text-decoration: none;

  @include breakpoint(sm) {
    padding: 4%;
    flex-basis: 50%;
  }
  @include breakpoint(md) {
    flex-basis: 33%;
  }

  img {
    width: 100%;
  }

  &__wrapper {
    position: relative;
  }

  &__item--title {
    color: $color-grey;
    text-align: center;

    @include breakpoint(sm) {
      height: 0;
      opacity: 0;
      transition: opacity 200ms cubic-bezier(0, 0, .2, 1);
    }
  }

  &__item--svg {
    position: absolute;
    z-index: 50;
    width: 20% !important;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0, 0, .2, 1);
  }

  &:hover {
    @include breakpoint(sm) {
      transform: scale(1.02);

      .work__link__item--svg,
      .work__link__item--title {
        opacity: 1;
      }
    }
  }
}
