@import '../../styles/variables.scss';

.work__inner {
  display: flex;
  max-width: 1400px;
  flex-wrap: wrap;
  margin: $variable-spacing auto 0;
  align-items: center;
}

.work__link {
  flex-basis: 33%;
  padding: 4%;
  box-sizing: border-box;

  img {
    width: 100%;
  }
}
