.icon--about__item {
  width: 18px!important;
}

/* enabled */

.-enabled .icon--about__item {
  background: white;
}
.-enabled .icon--about__item:nth-child(1) {
  transform: translateX(2px) rotate(-45deg) ;
}
.-enabled .icon--about__item:nth-child(2) {
  transform: translateX(2px) rotate(45deg) ;
}
